/* Default link colours */
a {color: #0275d8 !important}

a:hover {color: #014c8c !important}

#header a, #sidebar a {color: white !important;}

#header, #sidebar {color: white}

#header h1 {
    margin-bottom: 0;
    line-height: inherit;
}

#sidebar {height: 100vh}

.nav-item {font-size: 1.1em}

.nav-link.active, .nav-link:hover {text-decoration: underline}

.brand i, .nav-link i {padding: 0 0.5rem}

.brand a:hover{text-decoration: none}
